{% extends 'Core/inicio.html' %}
    {% block title %}
        Crear Destinos
    {% endblock title %}
    {% block contenido %}
    <body style="background-color: rgb(233, 239, 246);">
    <div class="container mt-4"
         style ="max-width: 400px;
                 margin: 30px;
                 padding: 50px;
                 border: 1px solid #ddd;
                 border-radius: 5px;
                 background-color: #f9f9f9">
        <h1 class="mb-3">AGREGAR DESTINO</h1>
        <p>Complete la información del destino:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50; color: white; border: none; padding: 15px 50px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 20px 15px; cursor: pointer;">Guardar</button>
        </form>
    </div>
    </body>
    {% endblock contenido %}