{% extends 'Core/inicio.html' %}

    {% block title %}

        Vuelos

    {% endblock title %}

    {% block contenido %}
    <body style="background-color: rgb(233, 239, 246);"></body>
    <h1 class="mt-4">DESTINOS</h1>
        <p>Estos son los vuelos encontrados: </p>
        <div class="container mt-5">
            <table style = "background-color: white;" class="table table-striped table-bordered">
              <thead class="thead-dark">
                <th>Vuelo</th><th>Origen</th><th>Destino</th>
                    {% for vuelo in vuelos %}
                        <tr><td>{{vuelo.codigo}}</td><td>{{vuelo.origen}}<td>{{vuelo.destino}}</td>
                            <td>
                                <button class="button btn-primary"; style="border-radius: 10px; color: white; font-size: 16px; font-family: Arial, sans-serif; background-color: #4CAF50;">
                                    <a href="{% url 'vuelos:vuelos_destino' vuelo.codigo %}" style="color: aliceblue;">Ver destino</a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        <button style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
                <a href="{% url 'vuelos:search' %}" style="color: white; text-decoration: none;">Buscar</a>
        </button>
        <button style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">
            <a href="{% url 'vuelos:vuelos' %}" style="color: white; text-decoration: none;">Volver</a>
        </button>
    </body>
    {% endblock contenido %}