{% extends 'Core/inicio.html' %}
    {% block title %}
        Crear Vuelos
    {% endblock title %}
    {% block contenido %}
    <body style="background-color: rgb(233, 239, 246);">
    <div class="container mt-4"
         style ="max-width: 300px;
                 margin: 30px;
                 padding: 50px;
                 border: 1px solid #ddd;
                 border-radius: 5px;
                 background-color: #f9f9f9">
        <h1 class="mb-3">DESTINOS</h1>
        <p>Ingrese el destino que desea buscar:</p>
        <form action="Destino" method="GET">
            <input type="text" name="destino" id="destino">
            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50; color: white; border: none; padding: 15px 50px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 20px 15px; cursor: pointer;">Buscar</button>
        </form>
    </div>
    </body>
    {% endblock contenido %}