{% extends 'Core/inicio.html' %}

    {% block title %}

        Crear Vuelos

    {% endblock title %}

    {% block contenido %}

    <div class="container mt-4"
         style ="max-width: 300px;
                 margin: 30px;
                 padding: 50px;
                 border: 1px solid #ddd;
                 border-radius: 5px;
                 background-color: #f9f9f9">
        <h1 class="mb-3">AGREGAR VUELOS</h1>
        <p>Complete el siguiente formulario:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50; color: white; border: none; padding: 15px 50px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 20px 15px; cursor: pointer;">Guardar</button>
        </form>
    </div>
    {% endblock contenido %}