{% extends 'Core/inicio.html' %}

    {% block title %}

        Crear Vuelos

    {% endblock title %}

    {% block contenido %}

    <div class="container mt-4">
        <h1 class="mb-4">Agregar Vuelos</h1>
        <p>Complete el siguiente formulario:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;">Guardar</button>
        </form>
    </div>
    {% endblock contenido %}