{% extends 'Core/inicio.html' %}
{% load static %}
    {% block title %}
        About
    {% endblock title %}
    {% block contenido %}
        <h1 class="mt-4">Juan José Montaldo - Proyecto Final</h1>
        <body style="background-color: rgb(233, 239, 246);">
            <p class="mt-4">En el proyecto, traté de utilizar la mayoría de los conceptos aprendidos en las clases y crear un modelo que cumpla con las consignas.</p>
            <p>El curso de Python fue mi primer curso sobre lenguajes de programación (y también el primero en Coderhouse).
               Decidí aprender sobre programación para poder potenciar mi carrera profesional y tener más skills técnicos. A raíz del curso encontré muy interesante toda la rama de desarrollo web.
            </p>
            <p>¡Espero que les haya gustado este proyecto, saludos!
            </p>
        </body>
    {% endblock contenido %}